.answer-viewer-wrapper {
  color: #f8fafc;
}

.viewer-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 900px) {
  .viewer-layout {
    grid-template-columns: 350px 1fr;
  }
}
